@charset "utf-8";

/* ============================== */
/* 
	- Title: University Landing Page - mustachethemes
	- Autor: mustachethemes
*/
/* ============================== */

/* .............. Light Color ................ */
h1, h2, h3, h4{
	color:#55b00d;
}

a {
	color:#55b00d;
}

.slider .container .span6.right-form {
	border-top-color: #55b00d;
}

.slider .container .span6.right-form:after {
  border-top: 10px solid #55b00d;
}

.form input.button{
	background-color:#55b00d;
}

.courses .item .btn:hover {
	background: #55b00d;
}

.table-header {
	background-color:#55b00d;
}

.table-button a:hover {
	background-color:#55b00d;
}

.newsletter {
	background-color:#55b00d;
}

.newsletter input.button {
	color:#55b00d;
}
.ch-item:hover {
	box-shadow: 
		inset 0 0 0 100px rgba(85,176,13, 0.7),
		inset 0 0 0 6px rgba(85,176,13,0.9),
		0 1px 2px rgba(85,176,13,0.1);
}

/* .............. Dark Color ................ */
.top { 
	background-color: #035501;
}
.form input.button:hover{
	background-color: #035501;	
}
.newsletter input.button:hover {
	background-color:#035501;
}
footer {
	background:#035501;
}
.tooltip-inner {
  color: #035501;
}

/* .............. Images with color ................ */

.info h3.iconbestcity {
	background: url(../../img/green/icon-bestcity.png) 0 0 no-repeat;
}
.info h3.iconworldwide {
	background: url(../../img/green/icon-worldwide.png) 0 0 no-repeat;
}
.info h3.iconcommunity {
	background: url(../../img/green/icon-community.png) 0 0 no-repeat;
}
.info h3.iconfacilities {
	background: url(../../img/green/icon-facilities.png) 0 0 no-repeat;
}



a.navi-left{
	background: url(../../img/green/navi.png) no-repeat;
}
.navi-right{
	background: url(../../img/green/navi.png) no-repeat;
}



footer ul.social li a.linkedin{
	background: url(../../img/green/social-icons-linkedin.png) top center no-repeat;
}

footer ul.social li a.youtube{
	background: url(../../img/green/social-icons-youtube.png) top center no-repeat;
}

footer ul.social li a.facebook{
	background: url(../../img/green/social-icons-facebook.png) top center no-repeat;
}

footer ul.social li a.twitter{
	background: url(../../img/green/social-icons-twitter.png) top center no-repeat;
}

